{%  extends 'base.html.twig' %}

{%  block title %} Hello guy !! {% endblock %}

{%  block body %}
{# Yah comment #}
{{ dump() }}
<h1>{{ title }}</h1>

<h2>Comments ({{ comments|length }})</h2>

<ul>
    {% for comment in comments %}
    <li>{{ comment }}</li>

    {% endfor %}
</ul>

{% endblock %}